.container {
  display: flex;
  justify-content: space-around;
}

.loginForm, .loginFrom {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.textInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2dcd76;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #259859;
}
